<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home</h1>
    <form action="{%url 'result'%}" method='POST'>
        {% csrf_token %}
        <input name="username" placeholder="이름"/>
        <br/>
        <br/>
        <button type="submit">check</button>
    </form>

    <h1>Class</h1>
    {% for class in class_object%}
        <a href='class_student.html'>
            {{class.class_num}}
            {{class.lecturer}}
        </a><br>
    {% endfor %}
</body>
</html>